<!-- Header Area wrapper Starts -->
<header id="header-wrap">
  <!-- Navbar Start -->
  <nav class="navbar navbar-expand-md bg-inverse fixed-top scrolling-navbar" style="
  background-color: red!important">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <a href="index.html"><img src="assets/img/logo.png" alt="Rocket Services" width="100" height="42"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <i class="lni-menu"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto w-100 justify-content-end clearfix">
          <li class="nav-item active">
            <a class="nav-link" href="#hero-area">
              Home
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#services">
              Services
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#idiol">
              Idiol
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#contact">
              Contact Us
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#safe">
              Be Safe
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" data-toggle="modal" data-target="#modalLoginForm">
              Login
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Navbar End -->

  <!-- Hero Area Start -->

  <!-- Hero Area End -->

</header>
<!-- Header Area wrapper End -->
<div id="hero-area" class="hero-area-bg" style="
  background-image: url(assets/img/bhagatji.gif);height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12">
        <div class="contents" style="text-align: center;">
          <h2 class="head-title">Welcome To The Magical World Of Rocket Services</h2>
          <h5 style="color:red; font-weight: bold;">Company you choose we will give you the services.</h5>
          <a href="https://forms.gle/fLUXVbvvfRJrJQdn7"><button type="button" class="btn btn-primary">Enquire
              Now</button> </a>




        </div>
      </div>
      <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12">

      </div>

    </div>
  </div>
</div>
<!-- Services Section Start -->
<section id="services" class="section-padding" style="
  background-image: url(assets/img/ROCK.gif);height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;">
  <div class="container">
    <div class="section-header text-center">
      <h2 class="section-title wow fadeInDown" data-wow-delay="0.3s">Our Services</h2>
      <div class="shape wow fadeInDown" data-wow-delay="0.3s"></div>
    </div>
    <div class="row">
      <!-- Services item -->
      <div class="col-md-6 col-lg-4 col-xs-12">
        <div class="services-item wow fadeInRight" data-wow-delay="0.3s">
          <div class="icon">
            <i class="lni-home"></i>
          </div>
          <div class="services-content">
            <h3><a href="#" class="service-link">Home Insurance</a></h3>

          </div>
        </div>
      </div>
      <!-- Services item -->
      <div class="col-md-6 col-lg-4 col-xs-12">
        <div class="services-item wow fadeInRight" data-wow-delay="0.6s">
          <div class="icon">
            <i class="lni-briefcase"></i>
          </div>
          <div class="services-content">
            <h3><a href="#" class="service-link">Business Insurance</a></h3>

          </div>
        </div>
      </div>
      <!-- Services item -->
      <div class="col-md-6 col-lg-4 col-xs-12">
        <div class="services-item wow fadeInRight" data-wow-delay="0.9s">
          <div class="icon">
            <i class="lni-users"></i>
          </div>
          <div class="services-content">
            <h3><a href="#" class="service-link">Term Life Insurance</a></h3>

          </div>
        </div>
      </div>
      <!-- Services item -->
      <div class="col-md-6 col-lg-4 col-xs-12">
        <div class="services-item wow fadeInRight" data-wow-delay="1.2s">
          <div class="icon">
            <i class="lni-car"></i>
          </div>
          <div class="services-content">
            <h3><a href="#" class="service-link">Vehicle Insurance</a></h3>

          </div>
        </div>
      </div>
      <!-- Services item -->
      <div class="col-md-6 col-lg-4 col-xs-12">
        <div class="services-item wow fadeInRight" data-wow-delay="1.5s">
          <div class="icon">
            <i class="lni-heart"></i>
          </div>
          <div class="services-content">
            <h3><a href="#" class="service-link">Health Insurance</a></h3>

          </div>
        </div>
      </div>
      <!-- Services item -->
      <div class="col-md-6 col-lg-4 col-xs-12">
        <div class="services-item wow fadeInRight" data-wow-delay="1.8s">
          <div class="icon">
            <i class="lni-rocket"></i>
          </div>
          <div class="services-content">
            <h3><a href="#" class="service-link">Travel Insurance</a></h3>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Services Section End -->

<!-- About Section start -->
<section id="idiol" class="section-padding">
  <div class="about-area section-padding bg-gray">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-12 col-xs-12 info">
          <div class="about-wrapper wow fadeInLeft" data-wow-delay="0.3s">
            <div>
              <div class="site-heading">

                <h2 class="section-title">Meet Our Idiol</h2>
              </div>
              <div class="content">
                <p>
                  We work on our codeof conduct, which we call rcoc, according to which we neither do any wrong work nor
                  do any wrong work, we always respect and keep the principles of <strong>Bhagat ji</strong>, we believe
                  in Believe.
                </p>

              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-12 col-xs-12 wow fadeInRight" data-wow-delay="0.3s">
          <img class="img-fluid" src="assets/img/omk.gif" alt="Bhagat Ji">
        </div>
      </div>
    </div>
  </div>
</section>
<!-- About Section End -->

<!-- Testimonial Section Start -->
<section id="testimonial" class="testimonial section-padding">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div id="testimonials" class="owl-carousel wow fadeInUp" data-wow-delay="1.2s">
          <div class="item">
            <div class="testimonial-item" style="height: 370px;">
              <div class="img-thumb">
                <img src="assets/img/testimonial/RS1.jpg" alt="">
              </div>
              <div class="info">
                <h2><a href="#">MOTOR INSURANCE</a></h2>
                <h3><a href="#">कंपनी आप चुने बीमा हम करेंगे </a></h3>
              </div>
              <div class="content">
                <p class="description">Vehicle insurance is insurance for cars, trucks, motorcycles, and other road
                  vehicles. Its primary use is to provide financial protection against physical damage or bodily injury
                </p>

              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimonial-item" style="height: 370px;">
              <div class="img-thumb">
                <img src="assets/img/testimonial/RS2.jpg" alt="">
              </div>
              <div class="info">
                <h2><a href="#">HEALTH INSURANCE</a></h2>
                <h3><a href="#">कंपनी आप चुने बीमा हम करेंगे</a></h3>
              </div>
              <div class="content">
                <p class="description">Health insurance covers cost of an insured individual's medical and surgical
                  expenses.</p>

              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimonial-item" style="height: 370px;">
              <div class="img-thumb">
                <img src="assets/img/testimonial/RS6.jpg" alt="">
              </div>
              <div class="info">
                <h2><a href="#">LIFE INSURANCE</a></h2>
                <h3><a href="#">कंपनी आप चुने बीमा हम करेंगे</a></h3>
              </div>
              <div class="content">
                <p class="description">Life insurance is chosen based on the needs and goals of the owner. Term life
                  insurance provides protection for a set period of time, while whole life insurance and universal life
                  insurance, provides lifetime coverage..</p>

              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimonial-item" style="height: 370px;">
              <div class="img-thumb">
                <img src="assets/img/testimonial/RS5.png" alt="">
              </div>
              <div class="info">
                <h2><a href="#">TRAVEL INSURANCE</a></h2>
                <h3><a href="#">कंपनी आप चुने बीमा हम करेंगे</a></h3>
              </div>
              <div class="content">
                <p class="description">Travel insurance is an insurance product for covering unforeseen losses incurred
                  while travelling, either internationally or domestically..</p>

              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimonial-item" style="height: 370px;">
              <div class="img-thumb">
                <img src="assets/img/testimonial/RS4.jpeg" alt="">
              </div>
              <div class="info">
                <h2><a href="#">HOME INSURANCE</a></h2>
                <h3><a href="#">कंपनी आप चुने बीमा हम करेंगे</a></h3>
              </div>
              <div class="content">
                <p class="description">Homeowner's insurance provides financial protection against disasters. A standard
                  home insurance policy insures the home itself along with the things kept inside..</p>

              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimonial-item" style="height: 370px;">
              <div class="img-thumb">
                <img src="assets/img/testimonial/RS7.jpg" alt="">
              </div>
              <div class="info">
                <h2><a href="#">BUSINESS INSURANCE</a></h2>
                <h3><a href="#">कंपनी आप चुने बीमा हम करेंगे</a></h3>
              </div>
              <div class="content">
                <p class="description">Business interruption insurance is a type of insurance that covers the loss of
                  income that a business suffers after a disaster.</p>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>

<!-- Testimonial Section End -->

<!-- Contact Section Start -->
<section id="contact" class="section-padding bg-gray">
  <div class="container">
    <div class="section-header text-center">
      <h2 class="section-title wow fadeInDown" data-wow-delay="0.3s">We Are Here For You</h2>
      <div class="shape wow fadeInDown" data-wow-delay="0.3s"></div>
    </div>
    <div class="row contact-form-area wow fadeInUp" data-wow-delay="0.3s">
      <div class="col-lg-7 col-md-12 col-sm-12">
        <!-- Call To Action Section Start -->
        <section id="cta" class="section-padding">
          <div class="container">
            <div class="row">
              <div class="col-lg-5 col-md-6 col-xs-12 wow fadeInLeft" data-wow-delay="0.3s">
                <h5 class="footer-titel">Reach</h5>
                <ul class="address">
                  <li>
                    <i class="lni-map-marker"></i> <b> INFRONT OF MAHINDRA TRACTOR </b>Badnagar Rd, Badi Choupati,
                    Badnawar, Madhya Pradesh 454665
                  </li>
                  <br>
                  <h5 class="footer-titel">Call</h5>
                  <li>
                    <i class="lni-phone-handset"></i><a href="tel:+919669762808"> +91 9669762808</a>
                  </li>
                  <br>
                  <h5 class="footer-titel">Mail</h5>
                  <li>
                    <i class="lni-envelope"></i><a href="mailto:rocketassure@gmail.com"> rocketassure@gmail.com </a>
                  </li>
                </ul>
              </div>

            </div>
          </div>
        </section>
        <!-- Call To Action Section Start -->
      </div>
      <div class="col-lg-5 col-md-12 col-xs-12">
        <div class="map">
          <object style="border:0; height: 280px; width: 100%;"
            data="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14688.317307232464!2d75.2517294!3d23.0208594!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xddab1633d3014d67!2sROCKET%20SERVICES!5e0!3m2!1sen!2sin!4v1585074235039!5m2!1sen!2sin"></object>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Contact Section End -->
<section id="aboutus" class="section-padding bg-gray">
  <div class="container" style="text-align: center">
    <div class="section-header text-center">
      <h2 class="section-title wow fadeInDown" data-wow-delay="0.3s">About Us</h2>
      <div class="shape wow fadeInDown" data-wow-delay="0.3s"></div>
    </div>
    <div class="row">



      <p style="color:black; font-weight: bold;">We have been serving people in the insurance field for 11 consecutive
        years, our objective of this field is not just to make money or to add or fool the customers, but also to
        believe in giving better service to all our customers as we make them. Which includes explaining the reminder
        and claim etc. with complete information about the policy. We believe in making clients, not in making
        customers.</p>



    </div>
  </div>

</section>
<!-- Footer Section Start -->
<section id="safe" class="section-padding bg-gray">
  <div class="container" style="text-align: center">
    <div class="section-header text-center">
      <h2 class="section-title wow fadeInDown" data-wow-delay="0.3s">Be Safe With</h2>
      <div class="shape wow fadeInDown" data-wow-delay="0.3s"></div>
    </div>
    <div class="row">



      <img class="col-lg-12 col-md-12 col-xs-12" src="assets/img/partner.jpeg" alt="Partner">


    </div>
  </div>

</section>
<!-- Modal HTML -->
<div id="modalLoginForm" class="modal fade">
  <div class="modal-dialog modal-login">
    <div class="modal-content">
      <div class="modal-header">
        <a href="index.html"><img src="assets/img/logo.png" alt="Rocket Services" width="100" height="42"></a>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body">
        <form [formGroup]='loginForm' (ngSubmit)="login()">
          <div class="form-group">
            <i class="fa fa-user"></i>
            <input type="text" class="form-control" formControlName="username"
              [ngClass]="{ 'is-invalid': loginForm.get('username').touched && loginForm.get('username').errors }"
              placeholder="Enter User Name*" (ngModelChange)="onChangeField(this)">
          </div>
          <div class="form-group">
            <i class="fa fa-lock"></i>
            <input type="password" class="form-control" formControlName="password"
              [ngClass]="{ 'is-invalid': loginForm.get('password').touched && loginForm.get('password').errors }"
              placeholder="Enter Password*" (ngModelChange)="onChangeField(this)">
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block btn-lg">Login</button>
          </div>

        </form>
        <div class="alert alert-danger" style="display: block" role="alert" *ngIf="error">
          {{error}}
        </div>
      </div>
      <div class="modal-footer">
        <a href="#">Forgot Password?</a>
      </div>
    </div>
  </div>
</div>

<!-- Footer Section End -->

<!-- Go to Top Link -->
<a href="#" class="back-to-top">
  <i class="lni-arrow-up"></i>
</a>

<!-- Preloader -->
<div id="preloader">
  <div class="loader" id="loader-1"></div>
</div>
<!-- End Preloader -->

<style>
  .nav-link {
    color: white !important;
    font-weight: bold !important;
  }

  .service-link {
    color: red !important;
  }
</style>