$table-font-color: #606c71;
$table-border-color: #e9ebec;

:host{
  /deep/ {

    table{
      color: $table-font-color;
      tr {
        td,th{
          border: 1px solid $table-border-color;
        }
        width: auto;
      }
      display: block !important;
    }
    .ng2-smart-action-custom-custom{
      padding: 5px;
    }
    .ng2-smart-actions{
      width: 10%;
    }
  }
}  

.pagination--footer{
  margin: 14px;
    font-weight: bold;
}
.full--width{
  width: 100% !important;
}
.search--row{
  margin: 0px;
}
.btn--group{
  margin: 10px 0 0 0;
}