<div class="logo">
    <a href="" class="simple-text logo-mini">
        <div class="logo-img">
            <img src="./assets/img/dlogo.png" />
        </div>
    </a>
    <a href="" class="simple-text logo-normal">
        {{username}}
    </a>
</div>
<div class="sidebar-wrapper">
    <ul class="nav">
        <li routerLinkActive="active" class="nav-item-header" *ngFor="let menuItem of menuItems;">
            <a data-toggle="collapse" [attr.data-target]="'#'+menuItem.path" class="nav-item-link collapsed"
                (click)="onChange(menuItem)" [routerLink]="[menuItem.path]">
                <i class="now-ui-icons {{menuItem.icon}}"></i>
                <p class="nav-item-header-name">{{menuItem.title}}</p>
                <i *ngIf = "menuItem.menu.length > 0" class="now-ui-icons arrows-1_minimal-up rotate--arrow"></i>
            </a>
            <ul id="{{menuItem.path}}" class="collapse">
                <li *ngFor="let innerMenuItem of menuItem.menu" class="sub-item">
                    <a [routerLink]="[innerMenuItem.path]">
                        <p class="nav-sub-item-menu">{{innerMenuItem.title}}</p>
                    </a>
                </li>
            </ul>
        </li>
    </ul>

</div>