<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="card">
    <div class="card-header">
      <breadcrumb-layout [breadcrumbList]="breadcrumbList">
      </breadcrumb-layout>
      <div class="row">
        <div class="col-lg-12" style="text-align: right;">
          <button class="btn btn-success btn-sm" (click)="onSubmit()">Save</button>&nbsp;&nbsp;
          <button class="btn btn-danger btn-sm" (click)="cancel()">Cancel</button>
        </div>
      </div>
    </div>

    <div class="card-body">
      <form>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label>Role</label>
              <input name="role" type="text" class="form-control" placeholder="Role" [(ngModel)]="role.name">
            </div>
            <select class="form-control">
              <option>Default select</option>
            </select>

            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
              <label class="form-check-label" for="defaultCheck1">
                Default checkbox
              </label>
            </div>

          </div>
        </div>
      </form>
    </div>
  </div>
</div>