<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Role List</h5>
        </div>
        <div class="card-body all-icons">
          <div class="row">
            <ngx-table [keys]="keys" [data]="data"  class="full--width" (onChangeEvent)="onChangeEvent($event)">
            </ngx-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>